@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #FFFFFF, #999999);
  --foreground: #171717;
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --neutrals-primary: #606060;
    --font-sans: var(--font-titillium-web);
    --font-mono: var(--font-titillium-web);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
